<!doctype html>
<html ng-app="firstApp">
   <head>
      <script src="D:/Study/PHP/angular/angularDemo/lib/js/angular.min.js"></script>
      <script src="D:/Study/PHP/angular/angularDemo/angular/init.js"></script>
      <script src="D:/Study/PHP/angular/angularDemo/angular/fbController.js"></script>
	  <link rel="stylesheet" type="text/css" href="stylesheet/css/index.css">
	  <link rel="stylesheet" type="text/css" href="stylesheet/css/bootstrap.min.css">
   </head>
   <body >
	<form>
		<h1 class="fBForm">Feedback Form</h1>
		<div ng-controller="fbController" >
			<div class="form-group row">
				<label class="col-md-2 control-label">Email:</label>
				<div class="col-md-8">
					<input class="form-control" ng-model="model.email"></input>
				</div>
			</div>

			<div class="form-group row">
				<label class="col-md-2 control-label">Response Message:</label>
				<div class="col-md-8">
					<textarea ng-model="model.message" class="messageText"></textarea>
				</div>
			</div>

			<p align="center">
				<button type="button" class="btn btn-primary sendBtn" ng-click="fbSub()">SEND</button>
				<button type="reset" class="btn btn-primary">CLEAR</button>
			</p>
			
		</div>
	</form>
   </body>
</html>